<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd">


	<!-- shiro的过滤器工厂，相当于默认的加载了9个过滤器 -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<!-- 安全管理器，shiro的核心组件（大脑） -->
		<property name="securityManager" ref="securityManager" />
		<property name="filters">
			<map>
				<entry key="perms" value-ref="erpAuthorizationFilter"></entry>
			</map>
		</property>
		<!-- 用户如果没有登录，当在访问资源的时候，就会自动跳转到登录的页面 -->
		<property name="loginUrl" value="/login.html" />
		<!-- 当用户没有访问某项资源权限的时候，跳转到该页面 -->
		<property name="unauthorizedUrl" value="/error.html" />
		<!-- 过滤链的定义：定义URL访问时对应的认证或授权时的过滤器 -->
		<property name="filterChainDefinitions">
			<value>
				/error.html = anon
				/loginAction_* = anon
				/goodstypeAction_*=anon
				
				
				/*_list=perms[]
				
				/supplier.html=perms["供应商管理","客户管理"]
				/supplierAction_*=perms["供应商管理","客户管理"]
				/orders.html=perms["销售订单查询","销售订单录入","销售订单出库","销售管理","采购管理","采购订单申请","采购订单查询","采购审核","采购入库","采购确认"]
				/ordersAction_*=perms["销售订单查询","销售订单录入","销售订单出库","销售管理","采购管理","采购订单申请","采购订单查询","采购审核","采购入库","采购确认"]
				/goodstype.html=perms["商品类型"]
				/goodstypeAction_*=perms["商品类型"]
				/goods.html=perms["商品"]
				/goodsAction_*=perms["商品"]
				/role.html=perms["角色设置"]
				/roleMenuSet.html=perms["角色菜单设置"]
				/empRoleSet.html=perms["用户角色设置"]
				/roleAction_*=perms["角色设置","用户角色设置","角色菜单设置"]
				/store.html=perms["仓库"]
				/storeAction_*=perms["仓库"]
				/dep.html=perms["部门"]
				/depAction_*=perms["部门"]
				/emp.html=perms["员工"]
				<!-- /empAction_*=perms["员工"] -->
				/pwd.html=perms["重置密码"]
				/report_order.html=perms["销售统计报表"]
				/report_trend.html=perms["销售趋势报表"]
				/reportAction_*=perms["销售趋势报表","销售统计报表"]
				
				/*.html = authc
				<!-- /*=authc -->
			</value>
		</property>
	</bean>
	<!-- 安全管理器 -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="erpRealm"></property>
	</bean>
	<bean id="erpRealm" class="com.wj.erp.realm.ErpRealm" >
		<property name="empBiz" ref="empBiz"></property>
	</bean>
	<bean id="erpAuthorizationFilter" class="com.wj.erp.filter.ErpAuthorizationFilter">
		
	</bean>
	
	<!-- 启动shiro注解 -->
	<bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" depends-on="lifecycleBeanPostProcessor">
		<!-- 默认使用JDK代理，如被代理类没有实现接口，必须使用下列配置并开启cglib代理 -->
		<property name="proxyTargetClass" value="true" />
	</bean>
	<bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
		<property name="securityManager" ref="securityManager" />
	</bean>
	
	<!-- 对安全管理器增强代码，spring后处理器 -->
	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />

</beans>