<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd ">

	<!-- [comment] -->
	<bean id="depAction" class="com.wj.erp.action.DepAction" scope="prototype">
		<property name="depBiz" ref="depBiz" />
	</bean>
	<!-- [comment] -->
	<bean id="empAction" class="com.wj.erp.action.EmpAction" scope="prototype">
		<property name="empBiz" ref="empBiz" />
	</bean>
	<!-- [comment] -->
	<bean id="empRoleAction" class="com.wj.erp.action.EmpRoleAction" scope="prototype">
		<property name="empRoleBiz" ref="empRoleBiz" />
	</bean>
	<!-- [comment] -->
	<bean id="goodsAction" class="com.wj.erp.action.GoodsAction" scope="prototype">
		<property name="goodsBiz" ref="goodsBiz" />
	</bean>
	<!-- [comment] -->
	<bean id="goodstypeAction" class="com.wj.erp.action.GoodstypeAction" scope="prototype">
		<property name="goodstypeBiz" ref="goodstypeBiz" />
	</bean>
	<!-- [comment] -->
	<bean id="inventoryAction" class="com.wj.erp.action.InventoryAction" scope="prototype">
		<property name="inventoryBiz" ref="inventoryBiz" />
	</bean>
	<!-- [comment] -->
	<bean id="menuAction" class="com.wj.erp.action.MenuAction" scope="prototype">
		<property name="menuBiz" ref="menuBiz" />
	</bean>
	<!-- [comment] -->
	<bean id="orderdetailAction" class="com.wj.erp.action.OrderdetailAction" scope="prototype">
		<property name="orderdetailBiz" ref="orderdetailBiz" />
	</bean>
	<!-- [comment] -->
	<bean id="ordersAction" class="com.wj.erp.action.OrdersAction" scope="prototype">
		<property name="ordersBiz" ref="ordersBiz" />
	</bean>
	<!-- [comment] -->
	<bean id="returnorderdetailAction" class="com.wj.erp.action.ReturnorderdetailAction" scope="prototype">
		<property name="returnorderdetailBiz" ref="returnorderdetailBiz" />
	</bean>
	<!-- [comment] -->
	<bean id="returnordersAction" class="com.wj.erp.action.ReturnordersAction" scope="prototype">
		<property name="returnordersBiz" ref="returnordersBiz" />
	</bean>
	<!-- [comment] -->
	<bean id="roleAction" class="com.wj.erp.action.RoleAction" scope="prototype">
		<property name="roleBiz" ref="roleBiz" />
	</bean>
	<!-- [comment] -->
	<bean id="roleMenuAction" class="com.wj.erp.action.RoleMenuAction" scope="prototype">
		<property name="roleMenuBiz" ref="roleMenuBiz" />
	</bean>
	<!-- [comment] -->
	<bean id="storeAction" class="com.wj.erp.action.StoreAction" scope="prototype">
		<property name="storeBiz" ref="storeBiz" />
	</bean>
	<!-- [comment] -->
	<bean id="storedetailAction" class="com.wj.erp.action.StoredetailAction" scope="prototype">
		<property name="storedetailBiz" ref="storedetailBiz" />
	</bean>
	<!-- [comment] -->
	<bean id="storeoperAction" class="com.wj.erp.action.StoreoperAction" scope="prototype">
		<property name="storeoperBiz" ref="storeoperBiz" />
	</bean>
	<!-- [comment] -->
	<bean id="supplierAction" class="com.wj.erp.action.SupplierAction" scope="prototype">
		<property name="supplierBiz" ref="supplierBiz" />
	</bean>
	
	<bean id="loginAction" class="com.wj.erp.action.LoginAction" scope="prototype">
		<property name="empBiz" ref="empBiz" />
	</bean>

</beans>
