<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd ">

	<!-- [comment] -->
	<bean id="depBiz" class="com.wj.erp.biz.impl.DepBizImpl">
		<property name="depDao" ref="depDao" />
	</bean>
	<!-- [comment] -->
	<bean id="empBiz" class="com.wj.erp.biz.impl.EmpBizImpl">
		<property name="empDao" ref="empDao" />
	</bean>
	<!-- [comment] -->
	<bean id="empRoleBiz" class="com.wj.erp.biz.impl.EmpRoleBizImpl">
		<property name="empRoleDao" ref="empRoleDao" />
	</bean>
	<!-- [comment] -->
	<bean id="goodsBiz" class="com.wj.erp.biz.impl.GoodsBizImpl">
		<property name="goodsDao" ref="goodsDao" />
	</bean>
	<!-- [comment] -->
	<bean id="goodstypeBiz" class="com.wj.erp.biz.impl.GoodstypeBizImpl">
		<property name="goodstypeDao" ref="goodstypeDao" />
	</bean>
	<!-- [comment] -->
	<bean id="inventoryBiz" class="com.wj.erp.biz.impl.InventoryBizImpl">
		<property name="inventoryDao" ref="inventoryDao" />
	</bean>
	<!-- [comment] -->
	<bean id="menuBiz" class="com.wj.erp.biz.impl.MenuBizImpl">
		<property name="menuDao" ref="menuDao" />
	</bean>
	<!-- [comment] -->
	<bean id="orderdetailBiz" class="com.wj.erp.biz.impl.OrderdetailBizImpl">
		<property name="orderdetailDao" ref="orderdetailDao" />
		<property name="storedetailDao" ref="storedetailDao" />
		<property name="storeoperDao" ref="storeoperDao" />
	</bean>
	<!-- [comment] -->
	<bean id="ordersBiz" class="com.wj.erp.biz.impl.OrdersBizImpl">
		<property name="ordersDao" ref="ordersDao" />
		<property name="empDao" ref="empDao" />
		<property name="supplierDao" ref="supplierDao" />
	</bean>
	<!-- [comment] -->
	<bean id="returnorderdetailBiz" class="com.wj.erp.biz.impl.ReturnorderdetailBizImpl">
		<property name="returnorderdetailDao" ref="returnorderdetailDao" />
	</bean>
	<!-- [comment] -->
	<bean id="returnordersBiz" class="com.wj.erp.biz.impl.ReturnordersBizImpl">
		<property name="returnordersDao" ref="returnordersDao" />
	</bean>
	<!-- [comment] -->
	<bean id="roleBiz" class="com.wj.erp.biz.impl.RoleBizImpl">
		<property name="roleDao" ref="roleDao" />
	</bean>
	<!-- [comment] -->
	<bean id="roleMenuBiz" class="com.wj.erp.biz.impl.RoleMenuBizImpl">
		<property name="roleMenuDao" ref="roleMenuDao" />
	</bean>
	<!-- [comment] -->
	<bean id="storeBiz" class="com.wj.erp.biz.impl.StoreBizImpl">
		<property name="storeDao" ref="storeDao" />
	</bean>
	<!-- [comment] -->
	<bean id="storedetailBiz" class="com.wj.erp.biz.impl.StoredetailBizImpl">
		<property name="storedetailDao" ref="storedetailDao" />
	</bean>
	<!-- [comment] -->
	<bean id="storeoperBiz" class="com.wj.erp.biz.impl.StoreoperBizImpl">
		<property name="storeoperDao" ref="storeoperDao" />
	</bean>
	<!-- [comment] -->
	<bean id="supplierBiz" class="com.wj.erp.biz.impl.SupplierBizImpl">
		<property name="supplierDao" ref="supplierDao" />
	</bean>
	
</beans>
